

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


div.form-group div.radio label {
    padding-left: 0.5em;
}

legend {
    margin-bottom: 1em;
}

span.angry {
    font-size: 1.3em;
    text-decoration: underline;
    font-weight: bold;
}

.form-control[data-trigger="fileinput"] {
  min-width: 200px;
}

.navbar .divider-vertical {
  height: 50px;
  margin: 0 9px;
  border-right: 1px solid #ffffff;
  border-left: 1px solid #f2f2f2;
}

.tab-pane {
  padding: 1em;
}

#overlay {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background: #000;
    opacity: 0.8;
    filter: alpha(opacity=80);
    z-index: 1000;
}
#loading {
    width: 50px;
    height: 57px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -28px 0 0 -25px;
    z-index: 1001;
}
