

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


div.form-group div.radio label {
    padding-left: 0.5em;
}

legend {
    margin-bottom: 1em;
}

span.angry {
    font-size: 1.3em;
    text-decoration: underline;
    font-weight: bold;
}

.form-control[data-trigger="fileinput"] {
  min-width: 200px;
}
