.form-control[data-trigger="fileinput"] {
  min-width: 200px;
}

// need to overwrite .input-group-addon colors when buttons are involved
@each $state in primary, success, danger, warning, info, default {
  .input-group-addon.btn-#{$state} {
    @extend .btn-#{$state};
  }
}

fieldset {
  margin: 1em auto;
}

.form {

  .control-label {
    font-size: 1.2em;
    font-weight: 700;
    border-bottom: 0;
    margin-bottom: 0;
  }

  .program-type {
    font-size: 1em;
    font-weight: 700;
    border-bottom: 0;
    margin-bottom: 0;
  }

  hr {
    margin-top: -1em;
    margin-bottom: -1em;
  }
}
