$xml-orange:            #F4A460 !default;
$xml-light-orange:      lighten($xml-orange, 25%) !default;
$xml-dark-orange:       darken($xml-orange, 25%) !default;
$xml-red:               #FF6347 !default;
$xml-light-red:         lighten($xml-red, 25%) !default;
$xml-green:             #008000 !default;
$xml-gray:              lighten($gray-base, 60%) !default;
$xml-dark-blue:         #00008B !default;

.xml_frame {

  .indent {
    margin-left: 1em;
  }

  .markup {
    color: $xml-dark-blue;
  }

  .comment {
    color: $xml-gray;
  }

  .text {
    color: $brand-primary;
  }

  .start-tag,
  .end-tag {
    color: $brand-info;
  }

  .pi {
    // color: #9932CC;
    color: $xml-green;
  }

  .attribute-name {
    color: $xml-orange;
  }

  .attribute-value {
    color: $xml-red;
  }

  .attribute_error {
    border: 2px dotted $xml-red;
    // background-color: #FF5F3;
    background-color: $xml-light-red;
    padding: 10px;
  }

  .error {
    border: 2px dotted $xml-orange;
    background-color: $xml-light-orange;
    padding: 10px;
  }

  .error-popup-btn {
    padding: 0;
    background-color: $xml-dark-orange;

    .fa-comment {
      background-color: $xml-orange;
      border: 5px solid $xml-orange;
      margin-top: -4px;
    }
  }

  .popover {
    width: 300px;
  }
}

.rationale {

  .eval-true {
    background-color: $state-success-bg;
    color: $state-success-text;
    &:before {
      content: "\f00c";//check
      font-family: FontAwesome;
    }
  }

  .eval-false {
    background-color: $state-danger-bg;
    color: $state-danger-text;
    &:before {
      content: "\f00d";//times
      font-family: FontAwesome;
    }
  }
  .eval-bad-specifics {
    background-color: $state-danger-bg;
    color: $state-danger-text;
    &:before {
      content: "\f069";//asterisk
      font-family: FontAwesome;
    }
  }

}
