<div class="alert alert-danger" role="alert">
  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
  <span class="sr-only">Error:</span>
  <%= flash[:notice] %>
</div>

<p>
If you continue to receive this message, please 
<a href="mailto:talk@projectcypress.org?subject=Cypress%20Validation%20Utility%20Error">email the Cypress Validation Utility team</a>. Include the text of the message above, the upload settings you were using when you encountered the error, and a copy of the file you uploaded.
</p>

<a href="/">Upload a different file</a>