<% document_types.each do |document_type, document_type_value| %>
  <div class="radio">
    <label class="radio">
      <input required class="docradio" type="radio" name="file_type" value="<%= "#{document_type_value}" %>"><%= " #{document_type}" %>
    </label>
  </div>
<% end %>
