<div class="subnav navbar navbar-inverse">
  <div class="navbar-inner">
    <div class="container-fluid no-select">
      <div class="collapse navbar-collapse">
	<a class="navbar-brand" href="#top"><i class="glyphicon glyphicon-arrow-up"></i> Back to top</a>
	  <ul class="nav navbar-nav">
            <li class="divider-vertical"></li>
	    <li><a class="nav-first" title="Jump to first error"><i class="glyphicon glyphicon-fast-backward"></i> First</a></li>
            <li class="divider-vertical"></li>
	    <li><a class="nav-prev" title="Jump to previous error"><i class="glyphicon glyphicon-step-backward"></i> Prev</a></li>
            <li class="divider-vertical"></li>
	    <li><a class="nav-next" title="Jump to next error">Next <i class="glyphicon glyphicon-step-forward"></i></a></li>
            <li class="divider-vertical"></li>
	    <li><a class="nav-last" title="Jump to last error">Last <i class="glyphicon glyphicon-fast-forward"></i></a></li>
            <li class="divider-vertical"></li>
          </ul>
        </div>
    </div>
  </div>
</div>
