<div class="alert alert-danger">
  <p class="text-danger"><strong><span class="angry">WARNING</span>:  This utility is meant for synthetic patient records only.  <span class="angry">DO NOT</span> upload documents containing <a href="http://www.hipaa.com/the-definition-of-protected-health-information/">Protected Health Information (PHI)</a> or <a href="http://www.gsa.gov/portal/content/104256">Personally Identifiable Information (PII)</a>.</strong> </p>

  <p>The Cypress QRDA Validation Utility is intended as a development tool for EHR vendors who are testing synthetic QRDA Category I and Category III documents for conformance to CMS submission requirements. Files submitted for validation must not contain PHI or PII.</p>
</div>

<div class="panel panel-default">
<div class="panel-heading">
<h1 class="panel-title">Validate Files</h1>
</div>

<div class="panel-body">
<form action="/uploads" class="form" method="post" id="upload_form" enctype="multipart/form-data">

  <fieldset>
    <legend class="control-label">Upload File</legend>
    <div class="fileinput fileinput-new input-group" style="width:50%" data-provides="fileinput">
      <div class="form-control" data-trigger="fileinput"><i class="glyphicon glyphicon-file fileinput-exists"></i> <span class="fileinput-filename"></span></div>
      <label for="inputFile" class="sr-only">QRDA File</label>
      <span class="input-group-addon btn btn-default btn-file btn-info">
      <span class="fileinput-new"><i class="fa fa-fw fa-mouse-pointer"></i> Select file</span>
      <span class="fileinput-exists"><i class="fa fa-fw fa-refresh"></i> Change</span>
        <input type="file" name="file" id="inputFile" required accept=".xml,.zip">
      </span>
      <a href="#" class="input-group-addon btn btn-warning fileinput-exists" data-dismiss="fileinput">Remove</a>
    </div>
  </fieldset>

  <fieldset>
    <legend class="control-label">Annual Update Bundle</legend>
    <div class="form-group">
      <% if BUNDLES['2016'] %>
      <div class="radio">
      <label class="radio">
        <input required type="radio" name="year" value="2016" id="2016"> 2015 Bundle for the 2016 Reporting Period
      </label>
      </div>
      <% end %>
      <% if BUNDLES['2017'] %>
      <div class="radio">
      <label class="radio">
        <input required type="radio" name="year" value="2017" id="2017"> 2016 Bundle for the 2017 Reporting Period
      </label>
      </div>
      <% end %>
    </div>
    <% unless BUNDLES['2016'] %>
      <span id="bundle-message" class="help-block">To enable the <em>2015 Bundle for the 2016 Reporting Period</em>, please install a 2015 Cypress bundle</span>
    <% end %>
    <% unless BUNDLES['2017'] %>
      <span id="bundle-message" class="help-block">To enable the <em>2016 Bundle for the 2017 Reporting Period</em>, please install a 2016 Cypress bundle</span>
    <% end %>
  </fieldset>

  <fieldset>
    <legend class="control-label">CMS Reporting Program</legend>
      <div class="form-group">
        <div class="radio">
        <label class="radio">
          <input required type="radio" name="program" data-program="none" value="none" id="none"> None (Base IG Only)
        </label>
        </div>
        <div class="radio">
        <label class="radio">
          <input required type="radio" name="program" data-program="ep" value="pqrs_mu_individual" id="pqrs_mu_individual"> PQRS - Individual
        </label>
        </div>
        <div class="radio">
        <label class="radio">
          <input required type="radio" name="program" data-program="ep" value="pqrs_mu_group" id="pqrs_mu_group"> PQRS - Group
        </label>
        </div>
        <div class="radio">
        <label class="radio">
          <input required type="radio" name="program" data-program="eh" value="hqr_ehr" id="hqr_ehr"> HQR - EHR
        </label>
        </div>
        <div class="radio">
        <label class="radio">
          <input required type="radio" name="program" data-program="eh" value="hqr_iqr" id="hqr_iqr"> HQR - IQR
        </label>
        </div>
        <div class="radio">
        <label class="radio">
          <input required type="radio" name="program" data-program="eh" value="hqr_ehr_iqr" id="hqr_ehr_iqr"> HQR - CDAC
        </label>
        </div>
      </div>
    <div class="help-block with-errors"></div>
  </fieldset>

  <fieldset>
    <legend class="control-label">Document Type</legend>
    <div class="form-group">
      <div class="radio">
      <label class="radio">
        <input type="radio" required name="file_type" value="cat1_r3" id="cat1_r3"> QRDA Cat I (R3)
      </label>
      </div>
      <div class="radio">
      <label class="radio">
        <input type="radio" required name="file_type" value="cat1_r31" id="cat1_r31"> QRDA Cat I (R3.1)
      </label>
      </div>
      <div class="radio">
      <label class="radio">
        <input type="radio" required name="file_type" value="cat3_r1" id="cat3_r1"> QRDA Cat III (R1)
      </label>
      </div>
      <div class="radio">
      <label class="radio">
        <input type="radio" required name="file_type" value="cat3_r2" id="cat3_r2"> QRDA Cat III (R2)
      </label>
      </div>
    </div>
    <div class="help-block with-errors"></div>
  </fieldset>


    <fieldset>
      <div>
      <legend class="control-label">PHI Confirmation</legend>
        <div class="radio">
          <label class="text-danger checkbox"><input name="warning" type="checkbox" value="warning" required id="warning"> By checking this box, I acknowledge that I've read and understand the warning, and to the best of my knowledge, the submitted files will contain neither PHI or PII.</label>
        </div>
      </div>
      <div class="help-block with-errors"></div>
    </fieldset>


  <div class="panel-footer">
    <input name="commit" value="Submit" class="btn btn-primary" type="submit">
  </div>

  <%= hidden_field_tag :authenticity_token, form_authenticity_token -%>


</form>
</div>
</div>

<script>
var ready;
ready = function() {
  H5F.setup(document.getElementById("upload_form"));

  // to store year and program for functions below
  var year;
  var program;

  // when year changes
  $("[name=year]").change(function() {
    year = ($(this).val());
    apply_selections(program, year);
  });

  // when program changes
  $("[name=program]").change(function() {
    program = ($(this).data('program'));
    apply_selections(program, year);
  });


  function apply_selections(program, year) {
    enabled = [];
    disabled = [];

    if (year == "2016") {
      enabled.push("cat1_r3", "cat3_r1", "pqrs_mu_individual", "pqrs_mu_group");
      disabled.push("cat1_r31", "cat3_r2");
    } else if (year == "2017") {
      enabled.push("cat1_r31", "cat3_r2", "pqrs_mu_individual", "pqrs_mu_group");
      disabled.push("cat1_r3", "cat3_r1");
    }

    if (program == "eh") {
      disabled.push("cat3_r1", "cat3_r2");
    } else {
      enabled.push("cat3_r1", "cat3_r2");
    }

    toggleAll(enabled, disabled);

    if (program == "eh")
    {
      if (year == "2016")
      {
        clickCheckbox("cat1_r3");
      } else if (year == "2017")
      {
        clickCheckbox("cat1_r31");
      }
    }
  }

  function toggleAll(enabled, disabled) {
    for (var i = 0; i < enabled.length; i++) {
      enable(enabled[i]);
    }
    for (var i = 0; i < disabled.length; i++) {
      disable(disabled[i]);
    }
  }

  function clickCheckbox(checkbox) {
    $("#" + checkbox).click();
  }

  function enable(el) { toggle(el, true); }
  function disable(el) { toggle(el, false); }

  function toggle(el, bool) {
    var item = $("#" + el);
    item.parent().attr("disabled", !bool);
    item.attr("disabled", !bool);
    if (!bool && item.is(":checked")) {
      item.attr("checked", false);
    }
  }

}

$(document).ready(ready);
$(document).on('page:load', ready);

</script>
